/* CSS declarations go here */

@import '{materialize:materialize}/sass/components/color';

$primary-color: color("blue-grey", "base");
$secondary-color: color("blue", "darken-1");

$link-color: color("blue", "darken-1");

@import '{materialize:materialize}/sass/materialize';

.fb-color {
    background-color: #3b5998;
}

.btn .valign-wrapper {
    justify-content: center;
}

.btn .fa {
    margin-right: 15px;
}

main.container {
    margin-bottom: 100px;
}

.comment-modal-trigger footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 2;
}

.comment-modal-trigger h5 {
    text-align: center;
}

.comment-modal-trigger i {
    vertical-align: middle;
}

#comment-modal {
    max-height: none;
    height: 80%;
}

.toast .material-icons {
    margin-right: 10px;
}